[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gitpython = "*"
docker = ">=3.0"
click = "*"
pretty-bad-protocol = ">=3.1.1"
pyxdg = "*"

[dev-packages]
